@import "./styles/reset.scss";
@import "./styles/variables.scss";

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

#main_section {
  width: 700px;
  height: 700px;
  border: 1px solid #f00;
}
#second_section {
  width: 700px;
  height: 700px;
  border: 1px solid #f00;
}
#third_section {
  width: 700px;
  height: 700px;
  border: 1px solid #f00;
}
