/* color */
$c: (
  bg: #010f29,
  light: #fff,
  gray: #696969,
  btn-g: linear-gradient(#002881 0%, #00081b 100%),
  footer: #232323,
  main-blue: #003cc2,
);

$S: ();

/* font */
$f: (
  title-font: "Open Sans",
  main-font: "Montserrat",
);
